@font-face {
	font-family: 'Oswald-Regular';
	src: url('../fonts/Oswald-Regular.eot');
	src: url('../fonts/Oswald-Regular.eot#iefix') format('embedded-opentype'),
		 url('../fonts/Oswald-Regular.woff') format('woff'),
		 url('../fonts/Oswald-Regular.woff2') format('woff2'),
		 url('../fonts/Oswald-Regular.ttf') format('truetype'),
		 url('../fonts/Oswald-Regular.svg#webfont34M5alKg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Oswald-Light';
	src: url('../fonts/Oswald-Light.eot');
	src: url('../fonts/Oswald-Light.eot#iefix') format('embedded-opentype'),
		 url('../fonts/Oswald-Light.woff') format('woff'),
		 url('../fonts/Oswald-Light.woff2') format('woff2'),
		 url('../fonts/Oswald-Light.ttf') format('truetype'),
		 url('../fonts/Oswald-Light.svg#webfont34M5alKg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.gauge-title {
	font-size: 11px;
	fill: #FFFFFF;
}
.gauge-value {
	font-size: 21px;
	fill: #FFFFFF;
}
.gauge-unity {
	font-size: 11px;
	fill: #FFFFFF;
}
#container {
	display: none;
}
#rpmshow {
	position: fixed;
	bottom: 64px;
	right: 64px;
	filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.6));
}
.speedcircle {
	width: 0px;
	height: 0px;
	position: fixed;
	bottom: 173px;
	right: 151px;
}
.geardisplay {
	text-align: center;
	font-family: 'Oswald-Regular';
	font-size: 28px;
	width: 37px;
	height: 37px;
	position: fixed;
	bottom: 145px;
	right: 33px;
	color: rgb(63,249,165);
	border: 3px solid rgb(63,249,165);
	border-radius: 50%;
	font-style: italic;
	font-weight: bold;
}
.geardisplay span {
	margin-left: -10px;
}
.speeddisplay {
	font-size: 85px;
	position: fixed;
	bottom: 65px;
	right: 25px;
	font-family: 'Oswald-Light';
	font-style: italic;
	font-weight: 200;
	color: #FFF;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}
.gray {
	color: rgba(255,255,255,0.5);
}
.int1 {
	position: fixed;
	bottom: 40px;
	right: 180px;
}
.int2 {
	position: fixed;
	bottom: 40px;
	right: 120px;
}
.int3 {
	position: fixed;
	bottom: 40px;
	right: 60px;
}
.unitdisplay {
	position: fixed;
	bottom: 188px;
	right: 34px;
	color: rgba(255,255,255,0.6);
	font-family: 'Oswald-Regular';
	font-style: italic;
	font-weight: 100;
	font-size: 19px;
}
.abs {
	position: fixed;
	bottom: 223px;
	right: 318px;
	color: rgba(255,255,255,1);
	font-family: 'Oswald-Regular';
	font-style: normal;
	font-weight: 100;
	font-size: 17px;
}
.handbrake {
	position: fixed;
	bottom: 198px;
	right: 316px;
	color: rgba(255,255,255,1);
	font-family: 'Oswald-Regular';
	font-style: normal;
	font-weight: 100;
	font-size: 17px;
}